/*
 *= require weloveiconfonts_rails
 *= require_self
 *= require_tree .
 */

.card-holder {
  display: inline-block;
  margin: 2px;

  .card {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    width: 200px;
    height: 200px;
    background: mix(white, gray, 80);

    .card-title {
      font-size: 20px;
    }

    .weloveiconfonts__item {
      display: inline-block;
    }
  }
}
body {
  width: 100%;
}
